body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}

footer{
   padding:20px 0;
   background-color:  rgb(4, 9, 30);
   width: 100%;
   height: auto;
   /* position: absolute; */
   color: #fff;
  
   text-align: center;
 
 }
 